@import "../../styles/colors/colors";
.Footer {
  background: $black-2;
  height: 118px;
  display: flex;
  width: 100%;
  bottom: 0;
  @media screen and (max-width: 768px) {
    position: relative;
  }
  &-logo {
    margin-left: 8em;
    margin-top: 2em;
    @media screen and (max-width: 768px) {
      margin-left: 0;
      width: 100%;
      text-align: center;
      font-size: 10px;
      margin-top: 4em;
      &_img {
        img {
          height: 11px;
          width: auto !important;
          float: left;
          margin-left: 4em;
        }
      }
      &_text {
        padding-top: 2em;
      }
    }
    &_img {
      img {
        width: 174px;
      }
    }
    &_text {
      font-size: 12px;
    }
  }
  &-media {
    flex-grow: 1;
    margin-right: 8em;
    @media screen and (max-width: 768px) {
      position: absolute;
      top: 0;
      width: 50%;
      right: 0;
      margin-top: 1.5em;
      margin-right: 0;

      &_icon {
        line-height: 0 !important;
      }
    }
    &_icon {
      justify-content: flex-end;
      display: flex;
      line-height: 4.5;
      .socialCollapsable__container {
        &--icon {
          background: $black-2;
          @media screen and (max-width: 768px) {
            height: 35px;
            width: 35px;
          }
        }
      }
    }
  }
}
